<h1 class="text-success text-center">Diretivas Angular</h1>

<!-- Diretivas de Atributo-->
<div [ngStyle]="{background: count < 5 ? 'red': 'green'}" [ngClass]="{custom: count > 5}">
  <h2 class="text-center">Contador: {{count}}</h2>
</div>

<!-- Diretivas Estruturais-->
<h2 *ngIf="count > 7; else menor" class="text-center">O contador passou de 7!</h2>

<ng-template #menor>
  <h2 class="text-center">O contador é menor que 7!</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
  <li class="list-group-item" *ngSwitchCase="3">É IGUAL A 3
  </li>
  <li class="list-group-item" *ngSwitchCase="5">É IGUAL A 5
  </li>
  <li class="list-group-item" *ngSwitchCase="8">É IGUAL A 8
  </li>
  <li class="list-group-item" *ngSwitchCase="10">É IGUAL A 10
  </li>
  <li class="list-group-item" *ngSwitchDefault="">ESSE É O DEFAULT
  </li>
</ul>



<ul class="list-group mx-auto col-3">
  <li 
    class="list-group-item" 
    *ngFor="let pessoa of pessoas">
    O nome da pessoa é {{pessoa.firstName}} {{pessoa.lastName}}
  </li>
</ul>


<app-list-people [list]="pessoas"></app-list-people>

<div class="col-4 mx-auto p-3">
  <h3 class="text-center" appMarcaTexto corDeFundo="blue" corDoTexto="pink">{{ nome }}</h3>
  <button class="btn btn-primary " (click)="clicou('Michel')">Clique</button>
</div>
<div class="col-4 mx-auto">
  <input 
  type="text" class="form-control" 
  placeholder="Digite alguma coisa"
  [(ngModel)]="text"
  >
  <h4>Saída: {{text}}</h4>
</div>




<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <h2 class="text-center mt-5">LISTAGEM DE PERSONAGENS RICK AND MORTY</h2>

    <div class="col-12">
      <app-list-api></app-list-api>
    </div>
  </div>
</div>